
body{
    background-color:rgb(184, 151, 108) ;
    margin: 15;
}

p{
  color: #2b2b2b;
  text-indent: 5%;
  
}
article#textId{
  background: red;
}
a{
  color: rgb(109, 91, 50);
}
ul{
  list-style-type: circle;
}
  td, th {
    border: 1px solid #474747;
    color: #2b2b2b;
    text-align: left;
    padding: 8px;
  }
  table {
    font-family: arial;
    border-collapse: collapse;
    width: 50%;
  }
  
  
